table {
  border-collapse: collapse;
  width: 75%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
	background-color:#a4b7d6;
	font-size: 18px;
}
h1,h2 {
	color:#2d3951;
}